# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Python
__pycache__
*.pyc
venv

# Playwright output
playwright-report
test-results

# Editor
.vscode
.idea

# Mac
.DS_Store

# Documentation
README.md

# Release scripts
release.sh