# Node
node_modules/
package-lock.json

# Playwright
playwright-report/
test-results/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Python virtual env
venv/
.env/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Build artifacts
dist/
build/

# Local candidate submissions (optional)
submission/